<h4>About Anna</h4>
<p>  
  Cat mad. Horse mad. Generally animal mad. She dreams of having a small farm with various creatures. Currently working as a lab technician at a veterinary diagnostics company. 
  Greatest achievement in life so far was convincing Ryan to get a cat. 
  Second greatest achievement was managing to persuade Ryan to help with picking up horse poo from the field… whilst there were horses in the field (he’s scared of them!). Despite all his protests, she still dreams of teaching Ryan to ride a horse one day.  
  Has taken up rock climbing to get over her fear of heights and as a slightly safer means of getting an adrenaline rush. 
</p>

<h4>About Ryan</h4>
<p>
  Great at watching sport and knowing random sporting facts, less capable when actually trying to play sport. Has a shuffling technique when running in to bowl. Whether this is of any benefit we will never know.
  Junior doctor training in Respiratory Medicine. Beloved by the elderly, handier than Web MD but never lets Anna get away with a sick day unless she is really sick. Like, really sick. Like dead.
  Enjoys cooking but despairs over the fact that Anna hates mushrooms and prawns. Has a healthy respect for horses. Scared of snakes and eels. 
</p>
