<p>Almost seven and half years ago, on a fateful February the 13th, a girl was dragged along by her friends,
    halfway across Edinburgh to a Lothian Road flat where she met a boy and ended up in a dodgy nightclub… 
    The rest, as they say, is history… </p>

    <div class='dummy-image'>

    </div>
      
   <p>So you have been enthusiastically invited to Ryan and Anna’s (or is it Anna and Ryan’s?) wedding on the 28th July 2018 at Kirknewton Stables, 
       Scotland. Details on how to get to the venue, ideas of where to stay and things to do can be found using the relevant links. 
       Most importantly, please <a routerLink="../rsvp">RSVP here</a>.</p> 