<form [formGroup]="formGroup">
    <ng-container formGroupName="adults">
            <label class="form-row"><span>Can everyone included on the invite attend?</span><input type="checkbox" formControlName="all"></label>
            <label class="form-row multi" *ngIf="!formGroup.get('adults').get('all').value"><span>Please list any invitees who cannot attend.</span><textarea formControlName="missing"></textarea></label>
    </ng-container>
    
    <ng-container formGroupName="children">
            <label class="form-row"><span>Children are invited, will you be bringing your children?</span><input type="checkbox" (change)="childrenClick()"></label>
            <ng-container *ngIf="showChildren">
            <label class="form-row"><span>How many will be attending?</span><input type="number" formControlName="number" min="0"></label>
            <label class="form-row multi"><span>Will they be happy to eat the adult food or would they be happier with a kid-friendly meal?</span><textarea formControlName="dietary"></textarea></label>
            <label class="form-row"><span>How many high chairs will you need?</span><input type="number" formControlName="highChairs" min="0"></label>            
            </ng-container>
    </ng-container>
</form>
