/* Add application styles & imports to this file! */

$light1: #F7DDC3;
$light2: #F9CCB8;
$light3: #F88E85;
$dark1: #A2325D;
$dark2: #392332;

body {
  color: $dark2;
  background: 
  linear-gradient(to bottom, $light1, $light3), 
  linear-gradient(to right, $light2, $light2 60%, $dark1), 
  linear-gradient(to bottom right, $light2, $light3);
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  padding: 10px; 

  h4 {
    font-family: 'Trocchi', serif;
  }

  header {
    font-size: 3em;
    font-family: 'Trocchi', serif;
  }
}

.dummy-image {
  background: blue;
  height: 300px;
  width: 300px;
  margin: auto;
}